	
	.index{
		overflow-x:hidden;
		overflow-y:auto;
	}
     /*header css*/
	*{margin:0px;padding:0px;}
	.header{
		height:48px;
		color:black;
		background-color: 	#F8F8F8;
		background:url(images/background_header.jpg);
		opacity:0.9;
		
		/* background-color:  #580000 */
	}
	.header>.header_left{
		float:left;
		margin-left:82px;
		/* width:100px; */
	}
	.header>.header_left>img{
		border-radius:18px;
	}
	
	.header>.header_center{
		float:left;
		margin-left:76px;
		font-size:14px;
    }
	.header>.header_center>ul{
		list-style-type:none;
		margin:0;
		padding:0;
	}
	.header>.header_center>ul>li{
		float:left;
		margin-top:9px;
		width:88px;
		margin-left:16px;
	}
	.header>.header_center>ul>li>a{
		text-decoration:none;
		color: black;
		font-weight:blod;
		padding-top:3px;
		height:30px;
		border-radius:8px;
		border-style:solid;
		border-color:white;
		background-color:#ff8080;
		display:block;
		text-align:center;
	}
	.header>.header_center>ul>li>a:hover{
		color:red;
		text-decoration:none;
		display:block;
		background-color:gray;
		text-align:center;
		border-radius:8px;
	}
	.header>.header_right{
		float:left;
		width:120px;
		margin-left:163px;
		margin-top:2px;
		width:380px;
		height:45px;
	}
	.header>.header_right>.header_right_search{
		float:left;
		font-size:16px;
		color: black;
	}
	.header>.header_right>.header_right_search>.search_text{
		font-size:14px;
		float:left;
		width:180px;
		margin-top:6px;
		height:30px;
		border-radius:15px;
		border-width:1px;
		border-style:solid;
		border-color:green;
	}
	.header>.header_right>.header_right_search>.search_label{
		float:left;
		margin-left:2px;
    }
	.header>.header_right>.header_right_search>button{
		margin-top:3px;
		border-radius:8px;
	}
	.header>.header_right>.header_right_search>.search_label>img{
		border-radius:6px;
	}

	.header>.header_right>.header_right_wechat{
		float:right;
		margin-right:48px;
		margin-top:6px;
	}
	.header>.header_right>.header_right_wechat>a>img{
		border-radius:6px;
	}
	.header>.header_right>.header_right_twtieer{
		margin-right:25px;
		float:right;
		margin-top:6px;
	}
	.header>.header_right>.header_right_twtieer>a>img{
		border-radius:6px;
	}
	