.note{
		margin:0;
		padding:0;
		overflow-x:hidden;
    	overflow-y:auto;
    	font-size:18px;
    	height:100%;
    	width:100%;
		background:url(images/background_1.jpg)
	}
	/*左侧div的css */
	.note>.left{
		float:left;
		width:15%;
		height:100%;
		display:block;
		background-color:#c1b1b1;
	}
    .left>ul{
    	list-style-type:none;
		margin:0;
		padding:0;
		margin-top:16px;
    }
	.left>ul>li{
		float:left;
		margin-top:48px;
		width:88px;
		margin-left:36px;
		
	}
	.left>ul>li>a{
		text-decoration:none;
		display:block;
		width:128px;
		height:28px;
		background-color:green;
		text-align:center;
		color:white;
		border:3px solid white;
		border-radius:9px;
		font-family:'楷体';
		padding-top:6px;
	}
	
	/*右侧的div*/
	.right{
		float:left;
		margin-left:66px;
		display:block;
		margin-top:36px;
		font-size:18px;
		width:1000px;
	}
	
	.right>.eachNote{
		width:92%;
		height:auto;
		background-color:white;
		border-left:1px solid #c1b1b1;
		border-right:1px solid #c1b1b1;
		padding:10px;
	}
	.right>.eachNote>.showUsername{
		font-size:20px;
		font-weight:bold;
		font-family:'楷体';
		float:left;
	}
	.right>.eachNote>.showCreatetime{
		font-size:12px;
		float:left;
		margin-left:12px;
		margin-top:5px;
	}
	.right>.eachNote>.showTitle{
		font-size:20px;
		color:black;
		margin:1px;
		float:left;
	}
	.right>.eachNote>.showNoteEdit{
		float:left;
		margin-left:520px;
		text-decoration:none;
	}
	.right>.eachNote>.showNoteEdit>a{
		margin-left:20px;
		text-decoration:none;
	}
	.right>.eachNote>.showNoteDelete{
		margin-left:20px;
	}
	.right>.eachNote>.showNoteDelete>a{
		text-decoration:none;
		margin-left:20px;
	}
	
	.right>.eachNote>.showContent{
		font-size:17px;
		margin-left:2px;
		float:left;
		width:100%;
	}
	.right>.eachNote>.comment{
		font-size:16px;
	}
	.right>.eachNote>.comment>.commentOn{
		margin-left:6px;
		width:888px;
		display:block;
	}
	.right>.eachNote>.comment>.commentOn>input{
		float:left;
		width:450px;
		height:28px;
		color:white;
    	border-radius:9px;
    	border:1px solid red;
    	margin-top:5px;
	}
	.right>.eachNote>.comment>.commentOn>button{
    	margin-left:10px;
    	margin-top:5px;
		height:28px;
		width:120px;
    	border-radius:9px;
    	border:1px solid red;
    	color:red;
	}
	.right>.eachNote>.comment>.eachComment{
		font-size:14px;
	}
	.right>.eachNote>.comment>.eachComment>.commentPerson{
		float:left;
		width:80px;
	}
	.right>.eachNote>.comment>.eachComment>.commentPerson>a{
		text-decoration:none;
	}
	.right>.eachNote>.comment>.eachComment>.commentContent{
		float:left;
		margin-left:3px;
		font-size:14px;
		width:620px;
	}
	.right>.eachNote>.comment>.eachComment>.commentTime{
		float:right;
		margin-right:10px;
	}
	.right>.eachNote>.comment>.eachComment>.deleteComment{
		margin-right:50px;
	}
	.right>.eachNote>.comment>.eachComment>.deleteComment>a{
		text-decoration:none;
	}